.mainContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 70px;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px;
}
.wrapCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapCategory:hover {
  cursor: pointer;
}
.img {
  width: 200px;
  height: 200px;
  transition: 0.3s;
}
.img:hover {
  transform: scale(1.2);
}
/* .imgMuffins {
   width: 200px;
   height: 200px;
  transition: 0.3s;
} */
.title {
  font-size: 22px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.buttonProductCatalog {
 display: none;
}
@media (max-width: 1024px) {
  .mainContainer {
    gap: 30px;
  }
  .img {
    width: 160px;
    height: 160px;
  }
  .title {
    font-size: 20px;
  }
  .buttonProductCatalog {
    display: none;
  }
}
@media (max-width:768px) {
    .mainContainer {
    gap: 25px;
  }
  .img {
    width: 150px;
    height: 150px;
  }
  .title {
    font-size: 18px;
  }
.buttonProductCatalog {
  display: block;
  margin:0;
  width: 300px;
  height: 50px;
  background-color: rgba(147, 60, 36, 0);
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  color: #f5f5f5;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  transition: 0.3s ease;
}
.buttonProductCatalog:hover {
  transform: scale(1.2);
  cursor: pointer;
}
}
@media (max-width:480px) {
    .mainContainer {
    gap: 50px;
  }
  .img {
    width: 130px;
  }
  .title {
    font-size: 18px;
  }
  .buttonProductCatalog{
  margin-top: 30px;
  width: 260px;
  height: 40px;
  font-size: 16px;
}
}
