.mainContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 70px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.wrapCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapCategory:hover {
  cursor: pointer;
}
.img {
  width: 200px;
  transition: 0.3s;
}
.img:hover {
  transform: scale(1.2);
}

.title {
  font-size: 22px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
@media (max-width: 1024px) {
  .mainContainer {
    gap: 30px;
  }
  .img {
    width: 160px;
  }
  .title {
    font-size: 20px;
  }
}
@media (max-width:768px) {
    .mainContainer {
    gap: 25px;
  }
  .img {
    width: 150px;
  }
  .title {
    font-size: 18px;
  }
}
@media (max-width:480px) {
    .mainContainer {
    gap: 50px;
  }
  .img {
    width: 130px;
  }
  .title {
    font-size: 18px;
  }
}
